@model IEnumerable<suitMvc.Models.Invitados>

@{
    ViewData["Title"] = "Invitados";
}

<h1>Invitados</h1>

<p>
    <a asp-action="Crear">Nuevo Invitado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Acompañantes
            </th>
            <th>
                Free
            </th>
            <th>
                Consumiciones
            </th>
            <th>
                Publica
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acompanantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.entrada_free)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.consumiciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.nombre)
                    @Html.DisplayFor(modelItem => item.Usuarios.apellido)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.invitado_id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.invitado_id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
