@model IEnumerable<suitMvc.Models.Invitados>

@{
    ViewData["Title"] = "Invitados";
}

<h1>Invitados</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Nuevo Invitado</a>
    @if (User.Identity.IsAuthenticated)
{
    var isAdmin = User.Claims.Where(c => c.Type == "admin").Select(c => c.Value).SingleOrDefault() == "1";
        if (isAdmin)
        {
            <a asp-action="ListarInvitados" class="btn btn-primary">Lista de invitados completa</a>
        }
}
        
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Acompañantes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acompanantes)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Actualizar" asp-route-id="@item.invitado_id">Editar</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.invitado_id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
