@model IEnumerable<suitMvc.Models.Invitados>

@{
    ViewData["Title"] = "Lista";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    var isAdmin = User.Claims.Where(c => c.Type == "admin").Select(c => c.Value).SingleOrDefault() == "1";
    var isCajero = User.Claims.Where(c => c.Type == "cajero").Select(c => c.Value).SingleOrDefault() == "1";
    if (isAdmin || isCajero)
    {
        <h1 class="text-center my-4">Lista de invitados</h1>

        <!-- Botón de Volver centrado -->
        <div class="d-flex justify-content-center mb-3">
            <a asp-action="Index" class="btn btn-primary btn-sm w-100 mb-2">Volver</a>
        </div>

        <!-- Botón Descargar Excel alineado a la derecha -->
        <div class="d-flex justify-content-end mb-3">
            <a asp-action="ExportarExcel" class="btn btn-success w-100 mb-3">Descargar Excel</a>
        </div>

        <!-- Campo de búsqueda con icono centrado -->
        <div class="d-flex justify-content-center mb-3">
            <div class="input-group w-100 w-md-75">
                <span class="input-group-text bg-transparent border-end-0">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar por nombre..."
                    class="form-control border-start-0" />
            </div>
        </div>
        <form asp-action="ListaData" method="get" class="mb-3">
            <button type="submit" class="btn btn-info">Ver Lista de Datos</button>
        </form>
        <!-- Tabla responsive de invitados -->
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="invitadosTable">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acompañantes</th>
                        <th>Free</th>
                        <th>Consumiciones</th>
                        <th>Pulsera</th>
                        <th>Publica</th>
                        @if (isAdmin)
                        {
                            <th>Acciones</th>
                        }
                        else if (isCajero)
                        {
                            <th>Ingreso</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.apellido)</td>
                            <td>@Html.DisplayFor(modelItem => item.acompanantes)</td>
                            <td>@Html.DisplayFor(modelItem => item.entrada_free)</td>
                            <td>@Html.DisplayFor(modelItem => item.consumiciones)</td>
                            <td>@Html.DisplayFor(modelItem => item.pulsera)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usuarios.nombre) @Html.DisplayFor(modelItem =>
                    item.Usuarios.apellido)</td>
                            <td class="d-flex justify-content-around flex-wrap">
                                <!-- Botones de acciones -->
                                @if (isCajero)
                                {
                                    <form asp-action="InvitadoPaso" asp-route-id="@item.invitado_id" asp-route-paso="@item.paso"
                                        method="post" class="me-1 mb-2">
                                        <button type="submit" class="btn btn-sm @(item.paso == 1 ? "btn-danger" : "btn-success")">
                                            @((item.paso == 1) ? "Desmarcar" : "Marcar Ingreso")
                                        </button>
                                    </form>
                                }

                                @if (isAdmin)
                                {
                                    <a class="btn btn-success btn-sm me-1 mb-2" asp-action="Beneficios"
                                        asp-route-id="@item.invitado_id">Beneficios</a>
                                    <a class="btn btn-warning btn-sm me-1 mb-2" asp-action="Actualizar"
                                        asp-route-id="@item.invitado_id">Editar</a>
                                    <form asp-action="Eliminar" asp-route-id="@item.invitado_id" method="post"
                                        onsubmit="return confirm('¿Estás seguro de que quieres eliminar este invitado?');"
                                        class="me-1 mb-2">
                                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h1 class="text-center my-4">No tienes permisos para ver esta página.</h1>
    }
}

<script>

    let typingTimer;
    const searchInput = document.getElementById('searchInput');

    searchInput.addEventListener('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(filterTable, 300);
    });

    function filterTable() {
        var filter, table, tr, td, i, txtValue;
        filter = searchInput.value.toUpperCase();
        table = document.getElementById("invitadosTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Busca por nombre
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>