@model IEnumerable<suitMvc.Models.Invitados>

@{
    ViewData["Title"] = "Lista";
}
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    var isAdmin = User.Claims.Where(c => c.Type == "admin").Select(c => c.Value).SingleOrDefault() == "1";
    if (isAdmin)
    {
        <h1 class="text-center my-4">Lista de invitados</h1>
        <div class="d-flex justify-content-center mb-3">
            <a asp-action="Index" class="btn btn-primary btn-sm w-100 w-md-auto">Volver</a>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <a asp-action="ExportarExcel" class="btn btn-success w-100 w-md-auto">Descargar Excel</a>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar por nombre..."
                class="form-control w-100 w-md-75" />
        </div>
        <form asp-action="EliminarSeleccionados" method="post"
            onsubmit="return confirm('¿Estás seguro de que quieres eliminar los usuarios seleccionados?');">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="invitadosTable">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center"><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)" /></th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">Acompañantes</th>
                            <th class="text-center">Free</th>
                            <th class="text-center">Consumiciones</th>
                            <th class="text-center">Pulsera</th>
                            <th class="text-center">Publica</th>
                            <th class="text-center">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"><input type="checkbox" name="selectedIds" value="@item.invitado_id" /></td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.nombre)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.apellido)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.acompanantes)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.entrada_free)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.consumiciones)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.pulsera)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Usuarios.nombre) @Html.DisplayFor(modelItem => item.Usuarios.apellido)</td>
                                <td class="text-center">
                                    @if (User.Claims.Where(c => c.Type == "admin").Select(c => c.Value).SingleOrDefault() == "1")
                                    {
                                        <a class="btn btn-success" asp-action="Beneficios" asp-route-id="@item.invitado_id">Beneficios</a>
                                    }
                                    <a class="btn btn-primary" asp-action="Actualizar" asp-route-id="@item.invitado_id">Editar</a>

                                    <form asp-action="Eliminar" asp-route-id="@item.invitado_id" method="post" style="display:inline;"
                                        onsubmit="return confirm('¿Estás seguro de que quieres eliminar este invitado?');">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger btn-sm w-100 w-md-auto">Eliminar seleccionados</button>
            </div>
        </form>
    }
    else
    {
        <h1 class="text-center my-4">No tienes permisos para ver esta página.</h1>
    }
}

<script>
    function toggleSelectAll(source) {
        checkboxes = document.getElementsByName('selectedIds');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("invitadosTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>